<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	">
	<!-- 目标类 -->
	<bean id="service1" class="aop.service.ServiceImpl"></bean>
	<bean id="service2" class="aop.service.ServiceImpl2"></bean>
	<bean id="ssr" class="aop.SSS.SSR"></bean>
	<bean id="n" class="aop.SSS.N"></bean>
	<!-- 切面 -->
	<bean id="myAspectId" class="aop.spring.MyAspect"></bean>
	<bean id="me" class="aop.spring.MyQieMian"></bean>
	<bean id="la" class="aop.spring.lau"></bean>


	<aop:config>
		<aop:pointcut expression="execution(* aop.service.Service*.add*(..))"
			id="myPointCut"></aop:pointcut>
		<aop:advisor advice-ref="myAspectId" pointcut-ref="myPointCut"></aop:advisor>
	</aop:config>

	<aop:config>
		<aop:pointcut expression="execution(* aop.service.Service*.delete*(..))"
			id="myPointCut2"></aop:pointcut>
		<aop:advisor advice-ref="myAspectId" pointcut-ref="myPointCut2"></aop:advisor>
	</aop:config>
	
	<aop:config>
		<aop:pointcut expression="execution(* aop.SSS.S*.*(..))" id="mY"/>
		<aop:advisor advice-ref="me" pointcut-ref="mY"/>
	</aop:config>
	
	<aop:config>
		<aop:pointcut expression="execution(* aop.SSS.S*.*h(..))" id="my"/>
		<aop:advisor advice-ref="la" pointcut-ref="my"/>
	</aop:config>
</beans>