<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.2.1//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>   
   <!-- 配置Mapper文件的路径 -->  
   <mappers>  
       <mapper resource="mapper/UserMapper.xml"/>  
   </mappers>  
</configuration>  